{% extends 'base.html' %}
{% block content %}

<h1>Receipt Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ receipt.name }}</span>
    <p>Restaurant: {{ receipt.restaurant|linebreaks }}</p>
    <p>Date: {{ receipt.date|linebreaks }}</p>
    <p>Total: {{ receipt.total|linebreaks }}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'receipt_update' receipt.id %}">Edit</a>
    <a href="{% url 'receipt_delete' receipt.id %}">Delete</a>
  </div>
</div>

{% endblock %}